.navbar {
    padding: .8rem;

}

.navbar-nav li{
    padding-right: 20px;
}

.navbar-brand {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 40px;
    /* text-align: center; */
    /* background-color: white; */
}

.row {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 0px;
    padding-right: 0px;
}

.header {
    text-align: center;
}

.rounded-circle {
    max-width: 100%;
    margin-top: 85px;
    /* max-height: 100%; */
}

.github {
    height: auto;
}

#bottomNav ul {
    background: #F8F8F8;

}
/* ul.list-inline.bullet-lists li {
    background: #F8F8F8;
} */

a {
    text-decoration:none;
    color: inherit;
 }

i{
    color:black;
  }